:root{
    --black_trasnparent: rgba(0, 0, 0, 0.917);
    --black_transparent_2 :rgba(0, 0, 0, 0.541);
    --grey_background_color: #141922;
    --light_text_color:#73767a;
    --dark_grey_background:#282828;
}